{% extends 'base.html' %}

{% block index %}

    <div class="heading">
        <h4 class="title text-center display-4 mt-5", id = "country"></h4>
    </div>

    <!-- <div class="LLS">
        <h4 style="display: inline;">The Lighning Location System used is:</h4>
        <p style="display: inline", id="LLS"></p>

    </div> -->
    

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
    
        </tbody>
      </table>       
<div class="canvas">

    <canvas id="positiveChart" ></canvas>
    <canvas id="negativeChart" style="margin-top: 50px;"></canvas>
        
</div>
    
               
   
  


   
   

    <!-- src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous" -->
    <script>
        //console.log("works")
        var mydata = JSON.parse('{{ table_data | tojson | safe }}');
        //alert(Object.keys(mydata));
        document.getElementById('country').textContent =  mydata.country;
        // document.getElementById('LLS').textContent =  mydata.LLS;
        // var country = document.getElementById('demo');
        // country.textContent = mydata.country;
        //console.log("works")

    </script>
    
    <script>
        //console.log("works")
        var graph_data = JSON.parse('{{ graph_data | tojson | safe }}');

        var myChart = new Chart("positiveChart", {
            type: "line",
            data:{
                labels: graph_data.xs,
                datasets: [{
                    label: 'selected_country',
                    data: graph_data.graph_values_p,
                    borderColor: "green",
                    fill: false
                },
                {
                    label: 'CIGRE',
                    data: graph_data.cigre_graph_values_p,
                    borderColor: "grey",
                    fill: false
                }]
            },
            options: {}
        });

        //negative strikes graph  

        var myChart = new Chart("negativeChart", {
            type: "line",
            data:{
                labels: graph_data.xs,
                datasets: [{
                    label: 'selected_country',
                    data: graph_data.graph_values_n,
                    borderColor: "green",
                    fill: false
                },
                {
                    label: 'CIGRE',
                    data: graph_data.cigre_graph_values_n,
                    borderColor: "grey",
                    fill: false
                }]
            },
            options: {}
        });

        csvFileData = graph_data.csv_data_p

        function download_csv_file() {  
                //define the heading for each row of the data  
                var csv = 'I,Probability\n';  
                    
                //merge the data with CSV  
                csvFileData.forEach(function(row) {  
                        csv += row.join(',');  
                        csv += "\n";  
                });  
                
                // //display the created CSV data on the web browser   
                // document.write(csv);  

                
                var hiddenElement = document.createElement('a');  
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);  
                hiddenElement.target = '_blank';  
                    
                //provide the name for the CSV file to be downloaded  
                hiddenElement.download = 'Graph_Data_Positive.csv';  
                hiddenElement.click();  
        }  
        
       
    </script> 

    <!-- create an HTML button to download the CSV file on click -->  
    <button onclick="download_csv_file()"> Graph Data Positive </button>
    <!-- <button onclick="download_csv_negative()"> Graph Data Negative </button>    -->



{% endblock %}