{% extends 'base.html' %}

{% block index %}

    <div class="heading">
        <h4 class="title text-center display-4 mt-5", id = "country"></h4>
    </div>

    <!-- <div class="LLS">
        <h4 style="display: inline;">The Lighning Location System used is:</h4>
        <p style="display: inline", id="LLS"></p>

    </div> -->
    
<div class="table">
    <table class="table table-striped">
        <thead id="table_head" class="font-weight-bold"  style="text-align:center">
            <tr>
                <th >Country</th>
                <th >Lightning Location System</th> 
                <th >Detection Efficiency</th>
                <th >Positive Flashes Percentage (%)</th>
                <th >Multiplicity</th> 
                <th >Literature</th> 
                <th >Comments</th> 
            </tr>
        </thead>

        <tbody id="table_body" style="text-align:center">
        </tbody>
    </table>   

    <div class="table" style="width: 70%;  margin-left:15%;  margin-right:15%;"  >
        <table class="table table-striped">
            <thead id="table_head_2" class="font-weight-bold" style="text-align:center">
                <tr>
                    <th > </th>
                    <th >Median Current Positive (kA)</th>
                    <th ><p style="font-style: italic;">σ<sub>ln</sub></p> Positive</th> 
                    <th >Median Current Negative (kA)</th>
                    <th ><p style="font-style: italic;">σ<sub>ln</sub></p> Negative</th> 
                </tr>
            </thead>
    
            <tbody id="table_body_2" style="text-align:center">
                <tr>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>   

</div>
        
<div class="canvas">

    <div>
    <canvas id="positiveChart" ></canvas>
    <button onclick="download_csv_file_positive()"> Graph Data Positive CSV </button>
    </div>
    <div>
    <canvas id="negativeChart" style="margin-top: 50px;"></canvas>
    <button onclick="download_csv_file_negative()"> Graph Data Negative CSV</button>
    </div>
</div>
    
               
   
  


   
   

    <!-- src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous" -->
    <script>
        //console.log("works")
        var tableData = JSON.parse('{{ table_data | tojson | safe }}');
        //alert(Object.keys(mydata));
        console.log(tableData);
        var dataKeys = Object.keys(tableData);
        var dataValues = Object.values(tableData);
       // alert(dataKeys);


        // var tableHead = document.getElementById("table_head");
        // var fisrtRow = tableHead.insertRow(tableData.length);

        // for (var i = 0; i < dataKeys.length; i++){
        //     // if (i == 0){
        //     //     cell = fisrtRow.insertCell(i);
        //     //     cell.innerHTML = null;
        //     // }
        //     console.log(i);
        //     cell = fisrtRow.insertCell(i);
        //     //cell.innerHTML = dataKeys[i];
        // }


        var tableBody = document.getElementById("table_body");
        var secondRow = tableBody.insertRow(tableData.length);

        // for (var i = 1; i < dataValues.length; i++){
        //     cell = secondRow.insertCell(i);
        //     cell.innerHTML = dataValues[i];
        // }
        var data_array = [tableData["country"],tableData["LLS"], 
                        tableData["DE"],
                        tableData["percentage"],
                        tableData["multiplicity"],
                        tableData["literature"],
                        tableData["comments"]
                        ];

            for (var i = 0; i < dataValues.length-1; i++){
            cell = secondRow.insertCell(i);
            if (i == dataValues.length-3)
                {
                    console.log(data_array[i]);
                    cell.innerHTML = '<a href='+ data_array[i] +'>source</a>';
                    console.log(cell.innerHTML);
                }
            else{cell.innerHTML = data_array[i];}
        }
        // var cell_0 = newRow.insertCell(0);
        // cell_0.innerHTML = table_data["country"];

        // var cell_1 = newRow.insertCell(1);
        // cell_1.innerHTML = table_data["LLS"];



        var graph_data = JSON.parse('{{ graph_data | tojson | safe }}');

        var dataKeys = Object.keys(graph_data);
        var dataValues = Object.values(graph_data);

        var tableBody = document.getElementById("table_body_2");
        var secondRow = tableBody.insertRow(graph_data.length);
        var thirdRow = tableBody.insertRow(graph_data.length);

        var data_array = ['<b>' + "CIGRE" + '</b>',
                        graph_data["cigre_median_current_p"],graph_data["cigre_std_current_p"], 
                        graph_data["cigre_median_current_n"],graph_data["cigre_std_current_n"],
                        '<b>' + tableData["country"] + '</b>',
                        graph_data["median_current_p"],graph_data["std_current_p"],
                        graph_data["median_current_n"],graph_data["std_current_n"]
                        ];


            for (var i = 0; i < 10; i++){
                if (i < 5)
                    {
                        cell = secondRow.insertCell(i);
                        cell.innerHTML = data_array[i];
                    }
                else
                {
                    cell = thirdRow.insertCell(i-5);
                    cell.innerHTML = data_array[i];
                }
        }
        // var cell_0 = newRow.insertCell(0);
        // cell_0.innerHTML = table_data["country"];

        // var cell_1 = newRow.insertCell(1);
        // cell_1.innerHTML = table_data["LLS"];
      

    </script>
    
    <script>
        //console.log("works")
        var graph_data = JSON.parse('{{ graph_data | tojson | safe }}');
        const labels = graph_data.xs;

        var myChart = new Chart("positiveChart", {
            type: "line",
            data:{
                datasets: [{
                    label: 'selected_country',
                    data: graph_data.graph_values_p,
                    borderColor: "green",
                    fill: false
                },
                {
                    label: 'CIGRE',
                    data: graph_data.cigre_graph_values_p,
                    borderColor: "grey",
                    fill: false
                }]
            },
            options: {
                scales: {

                    xAxes: {
                        type: "linear",
                        labels: graph_data.xs,
                        ticks:{
                            //autoSkip: true,
                            stepSize: 10,
                            max: 200,
                            min: 0,
                            // callback: function (val, index) {
                            //     if(index % 30 === 0){
                            //         return index
                            //     }
                            // },
                        },
                        title: {
                            display: true,
                            text: 'Lightning current I (kA)'
                        }
                    },
                    yAxes: {
                        title: {
                            display: true,
                            text: 'Probability Distribution'
                        }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Positive',
                        font: {
                            size: 20
                        }
                    }
                }
            }
        });

        //negative strikes graph  

        var myChart = new Chart("negativeChart", {
            type: "line",
            data:{
                labels: graph_data.xs,
                datasets: [{
                    label: 'selected_country',
                    data: graph_data.graph_values_n,
                    borderColor: "green",
                    fill: false
                },
                {
                    label: 'CIGRE',
                    data: graph_data.cigre_graph_values_n,
                    borderColor: "grey",
                    fill: false
                }]
            },
            options: {
                scales: {
                    xAxes: {
                        type: "linear",
                        labels: graph_data.xs,

                        ticks:{
                            //autoSkip: true,
                            stepSize: 10,
                            max: 200,
                            min: 0,
                            // callback: function (val, index) {
                            //     if(index % 30 === 0){
                            //         return index
                            //     }
                            // },
                        },
                        title: {
                            display: true,
                            text: 'Lightning current I (kA)'
                        }
                    },
                    yAxes: {
                        title: {
                            display: true,
                            text: 'Probability Distribution'
                        }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Negative',
                        font: {
                            size: 20
                        }
                    }
                }
            }
        });

        csvFileData_positive = graph_data.csv_data_p
        csvFileData_negative = graph_data.csv_data_n

        function download_csv_file_positive() {  
                //define the heading for each row of the data  
                var csv = 'I,Probability\n';  
                    
                //merge the data with CSV  
                csvFileData_positive.forEach(function(row) {  
                        csv += row.join(',');  
                        csv += "\n";  
                });  
                
                // //display the created CSV data on the web browser   
                // document.write(csv);  

                
                var hiddenElement = document.createElement('a');  
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);  
                hiddenElement.target = '_blank';  
                    
                //provide the name for the CSV file to be downloaded  
                hiddenElement.download = 'Graph_Data_Positive.csv';  
                hiddenElement.click();  
        }  
        

        function download_csv_file_negative() {  
                //define the heading for each row of the data  
                var csv = 'I,Probability\n';  
                    
                //merge the data with CSV  
                csvFileData_negative.forEach(function(row) {  
                        csv += row.join(',');  
                        csv += "\n";  
                });  
                
                // //display the created CSV data on the web browser   
                // document.write(csv);  

                
                var hiddenElement = document.createElement('a');  
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);  
                hiddenElement.target = '_blank';  
                    
                //provide the name for the CSV file to be downloaded  
                hiddenElement.download = 'Graph_Data_Negative.csv';  
                hiddenElement.click();  
        }  
       
    </script> 





{% endblock %}